<section>
    <div class="visual-content">
        <img src="../../assets/person.png" alt="SoftDeveloper Image">
        <a href=""><span>Download CV</span></a>
    </div>
    <div class="message">
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quos amet cupiditate ipsam tempore ab illo
            quia possimus, provident magni qui deserunt? Iusto nihil ipsam ut quam numquam dicta sapiente, veniam
            voluptatem sunt velit cumque. Laborum quo ipsum, nam debitis illo id quos impedit eum eius molestiae? Ab
            dicta illo magni officiis suscipit assumenda, earum cum inventore beatae delectus, tenetur impedit ex totam!
            Veniam veritatis ipsum accusantium omnis cum rerum dolores fuga dolor magni, dolorum aut eos quia nulla
            dolorem vitae cumque quibusdam quae, qui incidunt fugit neque! Possimus, sint tenetur dolore accusantium
            nulla nemo consequatur dolores assumenda iste inventore! Praesentium modi odit qui commodi sapiente aliquam
            mollitia facilis officia voluptate ratione quaerat ad, ut explicabo dolorum eligendi maxime earum autem cum
            unde optio voluptates a quisquam? Minima sequi impedit quasi commodi animi fugit eum magnam quis fugiat
            deleniti? Quia eos eaque magnam ad hic dolorem, similique quam placeat dolores, exercitationem dignissimos,
            cupiditate nemo recusandae. Cum itaque delectus veritatis. Aspernatur ea autem provident deleniti iure nulla
            harum reprehenderit ipsum culpa voluptatibus quod, quo quos, suscipit id doloribus. Consequuntur quae autem
            illo, nesciunt corporis modi voluptates voluptatum dignissimos dolorum inventore fugiat omnis eos ut ab
            iusto. Culpa explicabo modi nisi natus quod vitae non eum officiis. Praesentium maiores nobis provident
            accusamus. Eligendi possimus, sapiente totam, omnis earum rem, voluptatem nobis dolorum quidem doloremque
            iste molestias sit doloribus placeat nihil laudantium architecto eaque dolorem ab repudiandae aperiam! Omnis
            commodi deserunt laboriosam est quae mollitia dolor numquam quasi a, in provident natus doloribus.
        </article>
        <section>
            <ul>
                <li><i class="fab fa-angular"></i></li>
                <li><i class="fab fa-angular"></i></li>
                <li><i class="fab fa-angular"></i></li>
                <li><i class="fab fa-angular"></i></li>
                <li><i class="fab fa-angular"></i></li>
            </ul>
        </section>
    </div>
</section>