.filters {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        list-style: none;
        color: white;

        li {
            margin: 10px 20px;
            padding: 10px 30px;
            border: 5px solid green;
            border-radius: 10px;

            i {
                margin: 0 10px 0 -10px;
            }
        }
    }
}

.project-items {
    width: 80%;
    height: 75%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .focus {
        display: flex;
        flex-basis: 80%;
        width: 40%;
        justify-content: center;
        color: white;

        img {
            width: 200px;
            height: 300px;
        }

        article {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            max-width: 800px;
            font-size: 20px;

            h3 {
                margin: 10px 0px;
            }

            p {
                margin: 10px 0px;
            }

            a {
                text-decoration: none;
                color: white;
                width: 200px;
                text-align: center;
                border: 5px solid green;
                border-radius: 10px;
                margin: 0px 10px;
                padding: 5px 0px;
                
                i {
                    margin-left: 20px;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        li {
            border: 5px solid green;
            box-sizing: border-box;
            margin: 10px 15px;

            img {
                width: 200px;
                height: 300px;
                object-fit: fill;
            }
        }
    }
}
