.filters {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
    left: 100px;

    ul {
        display: flex;
        list-style: none;
        color: white;

        li {
            margin: 10px 20px;
            padding: 10px 30px;
            border: 3px double #00bfe7;
            border-radius: 10px;
            font-size: 18px;

            i {
                margin: 0 10px 0 -10px;
                color: white;
            }

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(
                    to left,
                    #ff2400,
                    #e81d1d,
                    #e8b71d,
                    #e3e81d,
                    #1de840,
                    #1ddde8,
                    #2b1de8,
                    #dd00f3,
                    #dd00f3
                );
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }
}

.project-items {
    width: 80%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
    left: 100px;
    background: rgba(59, 72, 164, 0.6);
    border-radius: 20px;

    .focus {
        display: none;
        flex-basis: 80%;
        width: 40%;
        justify-content: center;
        color: white;
        margin: 20px;
        align-items: center;

        img {
            width: 200px;
            height: 300px;
            padding: 5px;
        }

        article {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            max-width: 800px;
            font-size: 20px;

            h3 {
                margin: 10px 0px;
            }

            p {
                margin: 25px 0px;
                text-align: center;
            }

            a {
                text-decoration: none;
                color: white;
                width: 200px;
                text-align: center;
                border: 3px double #00bfe7;
                border-radius: 10px;
                margin: 0px 10px;
                padding: 5px 0px;

                i {
                    margin-left: 20px;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        list-style: none;
        overflow: auto;
        padding: 0;
        margin: 20px;
        gap: 20px;

        li {
            border: 5px double cyan;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 20px;
            height: max-content;
            text-align: center;
            color: white;

            figure {
                position: relative;
                margin: 0;

                &:hover figcaption::before,
                &:hover figcaption::after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                &:hover figcaption {
                    opacity: 0.5;
                }

                &:hover img {
                    opacity: 0.2;
                }

                img {
                    width: 200px;
                    height: 300px;
                    object-fit: fill;
                }

                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: black;
                    background: cyan;
                    opacity: 0;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;
                        content: "";
                        opacity: 0;
                        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                        transition: opacity 0.35s, transform 0.35s;
                    }

                    &::before {
                        border-top: 3px solid black;
                        border-bottom: 3px solid black;
                        -webkit-transform: scale(0, 1);
                        transform: scale(0, 1);
                    }

                    &::after {
                        border-right: 3px solid black;
                        border-left: 3px solid black;
                        -webkit-transform: scale(1, 0);
                        transform: scale(1, 0);
                    }
                }
            }
        }
    }
}
