<section class="filters">
    <ul>
        <li (click)='displayCategory("all")'><i class="fas fa-layer-group"></i> All</li>
        <li (click)='displayCategory("games")'><i class="fas fa-ghost"></i> Games</li>
        <li (click)='displayCategory("portfolio")'><i class="fas fa-scroll"></i> Portfolio</li>
        <li (click)='displayCategory("blogs")'><i class="fas fa-blog"></i> Blogs</li>
    </ul>
</section>
<div class="focus" [style]='focusedProjectStyle' *ngIf='focusedProject !== undefined' (click)="hideProjectDetails()">
    <div class="focus-wrapper">
        <img src="{{focusedProject.image}}" alt="projectImage.jpeg">
        <article>
            <h3>{{focusedProject.name}}</h3>
            <p>{{focusedProject.description}}</p>
            <a target="_blank" href="{{focusedProject.previewUrl}}"><span>Preview</span><i
                    class="far fa-eye"></i></a>
            <a target="_blank" href="{{focusedProject.codeUrl}}"><span>Code</span><i class="fas fa-code"></i></a>
        </article>
    </div>
</div>
<section class="project-items">
    <ul>
        <li *ngFor="let project of projects">
            <figure (click)='showProjectDetails($event)'>
                <img src="{{project.image}}" alt="{{project.name}}.png">
                <figcaption>
                    <h2>{{project.name}}</h2>
                    <p>Click for Details!</p>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>