<section class="filters">
    <ul>
        <li><i class="fas fa-layer-group"></i> All</li>
        <li><i class="fas fa-ghost"></i> Games</li>
        <li><i class="fas fa-scroll"></i> Portfolio</li>
        <li><i class="fas fa-blog"></i> Blogs</li>
    </ul>
</section>
<section class="project-items">
    <div class="focus">
        <img src="../../assets/projectLogo.png" alt="">
        <article>
            <h3>Minesweeper</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse excepturi nam in. Perspiciatis at
                dignissimos iste sed necessitatibus esse perferendis in excepturi porro natus ullam et doloribus,
                reiciendis itaque atque amet voluptatibus voluptas. Aperiam assumenda dolore quibusdam ullam. Aliquid
                quia a magni corrupti accusamus quod unde dolorum reprehenderit explicabo ex.</p>
                <a href=""><span>Preview</span><i class="far fa-eye"></i></a>
                <a href=""><span>Code</span><i class="fas fa-code"></i></a>
        </article>
    </div>
    <ul>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
        <li><img src="../../assets/projectLogo.png" alt=""></li>
    </ul>
</section>