<ul id="button-container">
    <li class="container">
        <div class="button nav">
            <span class="label">Home</span>
            <span class="icon">
                <span></span>
            </span>
        </div>
    </li>
    <li>
        <div class="button nav">
            <span class="label">About</span>
            <span class="icon">
                <span></span>
            </span>
        </div>
    </li>
    <li>
        <div class="button nav">
            <span class="label">Certificates</span>
            <span class="icon">
                <span></span>
            </span>
        </div>
    </li>
    <li>
        <div class="button nav">
            <span class="label">Projects</span>
            <span class="icon">
                <span></span>
            </span>
        </div>
    </li>
    <!-- <li>
        <div class="button nav">
            <span class="label">Contact</span>
            <span class="icon">
                <span></span>
            </span>
        </div>
    </li> -->
</ul>