<section class="main">
    <div class="focus" [style]="focusedCertificateStyle" *ngIf="focusedCertificate !== undefined">
        <div class="visuals">
            <img src="{{focusedCertificate.frontImage}}" alt="certificate-frontImage.jpeg">
            <img src="{{focusedCertificate.backImage}}" alt="certificate-backImage.jpeg">
        </div>
        <a target="_blank" href="{{focusedCertificate.url}}"><span>Verify</span></a>
    </div>
    <div class="list">
        <ul>
            <li *ngFor='let certificate of certificates'>
                <figure (click)="showCertificateDetails($event)">
                    <img src="{{certificate.frontImage}}" alt="certificateFrontImage.jpeg">
                    <figcaption>
                        <h2>{{certificate.name}}</h2>
                        <p>Click for Details!</p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>