@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    background-image: url("./assets/home-background.jpg");
    background-size: cover;
}

app-home {
    width: 100vw;
}

app-about {
    background-image: url("./assets/sparkly\ grid.jpg");
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

app-certificates {
    background-image: url("./assets/abstract-blue.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

app-projects {
    background-image: url("./assets/abstract-blue.webp");
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}